<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= @cheese.family %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cheese.type %>
</p>

<%= link_to 'Edit', edit_cheese_path(@cheese) %> |
<%= link_to 'Back', cheeses_path %>
